n8n-day-27
{
  "name": "Target: Real Estate Agencies without Websites",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [{ "hour": 8 }]
        }
      },
      "id": "cron-daily",
      "name": "Every Day at 8am",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Goog-Api-Key", "value": "YOUR_GOOGLE_API_KEY" },
            { "name": "X-Goog-FieldMask", "value": "places.displayName,places.formattedAddress,places.internationalPhoneNumber,places.websiteUri,places.rating,places.userRatingCount" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "textQuery", "value": "Real Estate Agency in Dubai Marina" }
          ]
        }
      },
      "id": "google-maps",
      "name": "Google Maps: Find Agencies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "id": "split",
      "name": "Split Agencies",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "check-no-website",
              "leftValue": "={{ $json.websiteUri }}",
              "operator": { "type": "string", "operation": "isEmpty" }
            }
          ]
        }
      },
      "id": "filter-no-website",
      "name": "Filter: Only No Website",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": { "__rl": true, "value": "YOUR_NOTION_DB_ID", "mode": "id" },
        "propertiesUi": {
          "propertyValues": [
            { "property": "Agency Name", "title": "={{ $json.displayName.text }}" },
            { "property": "Phone Number", "richText": "={{ $json.internationalPhoneNumber }}" },
            { "property": "Google Rating", "number": "={{ $json.rating }}" },
            { "property": "Review Count", "number": "={{ $json.userRatingCount }}" },
            { "property": "Status", "select": "Needs Website / Outreach" }
          ]
        }
      },
      "id": "notion-save",
      "name": "Notion: Add Target Lead",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Every Day at 8am": { "main": [[{ "node": "Google Maps: Find Agencies", "type": "main", "index": 0 }]] },
    "Google Maps: Find Agencies": { "main": [[{ "node": "Split Agencies", "type": "main", "index": 0 }]] },
    "Split Agencies": { "main": [[{ "node": "Filter: Only No Website", "type": "main", "index": 0 }]] },
    "Filter: Only No Website": { "main": [[{ "node": "Notion: Add Target Lead", "type": "main", "index": 0 }]] }
  }
}
